version: "3.7"
services:
  api:
    image: ghcr.io/tfns/ctfnote/api:latest
    build:
      context: "./api"
    networks:
      - ctfnote
    restart: always
    environment:
      PAD_CREATE_URL: http://hedgedoc:3000/new
      PAD_SHOW_URL: /
      DB_DATABASE: ctfnote
      DB_ADMIN_LOGIN: ctfnote
      DB_ADMIN_PASSWORD: ctfnote
      DB_USER_LOGIN: user_postgraphile
      DB_USER_PASSWORD: secret_password
      DB_HOST: db
      DB_PORT: 5432
      WEB_PORT: 3000
      CMD_DOMAIN: ${CMD_DOMAIN:-}
      CMD_PROTOCOL_USESSL: ${CMD_PROTOCOL_USESSL:-false}
      CMD_DOCUMENT_MAX_LENGTH: ${CMD_DOCUMENT_MAX_LENGTH:-100000}
      USE_DISCORD: ${USE_DISCORD:-false}
      DISCORD_BOT_TOKEN: ${DISCORD_BOT_TOKEN:-bot_token}
      DISCORD_SERVER_ID: ${DISCORD_SERVER_ID:-server_id}
      DISCORD_VOICE_CHANNELS: ${DISCORD_VOICE_CHANNELS:-3}
      DISCORD_REGISTRATION_ENABLED: ${DISCORD_REGISTRATION_ENABLED:-false}
      DISCORD_REGISTRATION_CTFNOTE_ROLE: ${DISCORD_REGISTRATION_CTFNOTE_ROLE}
      DISCORD_REGISTRATION_ROLE_ID: ${DISCORD_REGISTRATION_ROLE_ID}
      TZ: ${TZ:-UTC}
      LC_ALL: ${LC_ALL:-en_US.UTF-8}
      SESSION_SECRET: ${SESSION_SECRET:-}
    depends_on:
      - db
    volumes:
      - ctfnote-uploads:/app/uploads
  db:
    image: ghcr.io/tfns/ctfnote/db:latest
    build:
      context: "./db"
    restart: always
    environment:
      POSTGRES_PASSWORD: ctfnote
      POSTGRES_USER: ctfnote
      POSTGRES_MULTIPLE_DATABASES: hedgedoc
    volumes:
      - ctfnote-db:/var/lib/postgresql/data
    networks:
      - ctfnote
  front:
    image: ghcr.io/tfns/ctfnote/front:latest
    networks:
      - ctfnote
    restart: always
    build:
      context: "./front"
    depends_on:
      - hedgedoc
    ports:
      - 127.0.0.1:8080:80
  hedgedoc:
    image: quay.io/hedgedoc/hedgedoc:1.9.9
    environment:
      - CMD_DB_URL=postgres://ctfnote:ctfnote@db:5432/hedgedoc
      - CMD_URL_PATH=pad
      - CMD_DOMAIN
      - CMD_PROTOCOL_USESSL
      - CMD_CSP_ENABLE=${CMD_CSP_ENABLE:-false}
      - CMD_IMAGE_UPLOAD_TYPE=${CMD_IMAGE_UPLOAD_TYPE:-imgur}
      - CMD_DOCUMENT_MAX_LENGTH=${CMD_DOCUMENT_MAX_LENGTH:-100000}
    depends_on:
      - db
    restart: always
    volumes:
      - pad-uploads:/hedgedoc/public/uploads
    networks:
      - ctfnote
volumes:
  ctfnote-db:
    name: ctfnote
  ctfnote-uploads:
    name: ctfnote-uploads
  pad-uploads:
    name: pad-uploads
networks:
  ctfnote: