// app global css in SCSS form

body.live-mode .blur {
  filter: blur(5px);
  transition: filter 0.2s;
  &:hover {
    filter: blur(0px);
    transition-delay: 0.2s;
  }
}


.ctfnote-dialog {
  width: 800px;
  max-width: 90vw !important;
}